@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700");
@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300..700");


:root {
  --accent : seagreen;
  --basic-font : 'Quicksand','Zen Kaku Gothic New';
  accent-color : var(--accent);
}

body {
  margin:0;
  font-family: var(--basic-font);
}

#root {
  background-color: #fafafa;
  min-height: 100dvh;
  display: grid;
  grid-template-rows:1fr auto;
  overflow: auto;
}

.main-content {
  padding: 2.5rem;
  padding-block-end: 1.5rem;
  display: flex;
  gap: 3rem;
  justify-content: center;

  @media (max-width:600px) {
    padding: 1.5rem 1rem;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}

.diceSettingDiv {
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-auto-flow: column;
  align-items: baseline;
  justify-content: space-between;
  white-space: nowrap;
  width: 100%;
  @media (max-width:350px) {
    font-size: smaller;
  }
}

header {
  padding: 0.25rem 12.5%;
  color: #555;
  background-color: #ddd;
}

h1 {
  padding-inline-start: 1rem;
  margin-block: 0 1rem;
  margin-inline-end: 3.25rem;
  border-inline-start: 0.25rem solid var(--accent);
  line-height: 1.2;
  letter-spacing: 2px;
}

h2 {
  margin-block-start: 0;
  @media (max-width:600px) {
    margin-block-end: 0;
  }
}

p {
  margin-block: 0.5rem;
  font-weight: 500;
}

pre {
  font-family: var(--basic-font);
  margin-block: 0.5rem;
}

textarea {
  font-family: 'Zen Kaku Gothic New';
  resize: vertical;
  border-radius: 0.25rem;
  padding: 0.5rem;
  min-height: 1rem;
  field-sizing: content;
  box-sizing: border-box;
  width: 100%;
}

button {
  font-family: var(--basic-font);
}

hr {
  margin-block: 1.5rem;
}

.main-content {
  li:not(:first-child) {
    margin-block-start: 0.25em;
    :has(br) > & {margin-block-start: 0.75rem;}
  }

  li::marker{
    color: seagreen;
    font-weight: 600;
  }

  li li::marker {content:'▹';}
  
  ol {
    padding-inline-start: 2ch;
    margin-block: 0.5rem;
  }
  
  ul {
    padding-inline-start: 0.625rem;
    margin-block: 0.5rem;
    li {
      padding-inline-start: 0.5ch;
      &.ok::marker {content:'✓';}
      &.ng::marker {
        content:'✕';
        color: rgb(205, 16, 35);
      }
    }
  }
}

input[type="text"] {
  border: 1px solid gray;
  border-radius: 0.25rem;
  padding:0.25rem 0.5rem;
}

input[type="number"] {
  width: 5ch;
  background-color: transparent;
  padding: 0.25rem;
  border: 1px solid gray;
  border-radius: 0.25rem;
}

input[type="color"] {
  width: 2rem;
  height: 2rem;
  padding: 0;
  border: 1px solid gray;
  border-radius: 0.25rem;

  &::-webkit-color-swatch,
  &::-webkit-color-swatch-wrapper {
    border: none;
    padding: 0;
  }
}

summary {color:hsl(0, 0%, 33%);}
details.square {
  border-radius: 0.5rem;
  padding: 0.25rem 1rem;
  font-size: 0.875rem;
  @media (min-width:600px) {
    padding-block: 0.5rem;
    summary {font-size: medium;}
  }
  &[open] {
    margin-block-end: 1rem;
    background-color: #e6e6e6;
  }
}

#clear {
  color: #555;
  background-color: transparent;
  font-weight: 500;
  border-radius: 0.25rem;
  border: 1px solid #555;
}

#exUnit {background-color: rgba(42, 99, 68, 0.9)}
#exChat {background-color: rgba(108, 108, 108, 0.9)}
button.export {
  color:#eee;
  height: 6rem;
  width : 6rem;
  font-weight: 700;
  border: none;
  border-radius: 50%;
}

div.buttonWrap {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  position: fixed;
  right: 5%;
  bottom: 2rem;
  z-index: 2;

  @media (max-width:800px) {
    bottom: 0;
    right: 0;
    gap: 0.5rem;
    transform: scale(0.9);
    transform-origin: right bottom;
  }
  @media (max-width:600px) {
    transform: scale(0.75);
    transform-origin: right bottom;
  }
}

.triangle {
  background-color: #888;
  align-self: center;
  height: 1.25rem;
  aspect-ratio: cos(30deg);
  clip-path: polygon(0 0,100% 50%,0 100%);
  @media (max-width:600px) {
    transform: rotate(90deg);
  }
}

div.outputDiv {
  display: flex;
  gap: 2rem;
  @media (max-width:600px) {
    flex-direction: column;
    gap: 0.75rem;
  }
}

.outputL {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  grid-template-rows: auto 1fr;
  align-items: start;
  gap: 1rem;
  height: max-content;
}

span.title {
  background-color: gray; 
  color: #fafafa; 
  font-weight: 500; 
  padding-inline: 0.5ch;
}

.greenBold {
  color: seagreen;
  font-weight: 600;
}

.annotation {
  color: rgba(0,0,0,0.6);
  font-size: smaller;
  text-align: end;
  margin-block:0;
}

.ccfoliaName {
  font-family: 'Roboto', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: bold;
  color: #888;
  background-color: #2a2a2a;
  border: 1px solid "2a2a2a";
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  margin-block: 0;
  visibility: hidden;
}
input:focus + .ccfoliaName,
input:focus + * + .ccfoliaName {
  visibility: visible;
}


/* ------------------------------
              Table
------------------------------ */
.main-content table {
  border-spacing: 0 0.25rem;
  font-size: small;
  letter-spacing: 0.5px;
  
  caption {
    text-align: left;
    font-size: 0.9375rem;
    font-weight: 500;
    margin-block-end: 0.25rem;
  }

  th,td {
    font-weight: 500;
    padding: 0.25rem;
  }

  thead th {
    color:white;
    background-color: gray;
    &:first-child{ border-start-start-radius: 0.25rem; }
    &:last-child { border-start-end-radius:   0.25rem; }
  }

  tbody {
    > :nth-of-type(even) > * { background-color: #eee; }
    > :nth-of-type(odd)  > * { background-color: #dfdfdf; }
    
    th {
      border-inline-end: 3px dotted rgba(0,0,0,0.15);
    }
    
    input[type='checkbox'] {
      margin: 0;
      margin-block-start: 0.25rem;
      width: 1rem;
      height: 1rem;
    }
  }
}

#addParamTable :is(th,td),
#addStatTable  :is(th,td) {
  height: 1rem;
}

#paramsTable {
  grid-row-start: 1;
  grid-row-end: 3;
}

#skillTable {
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 3;
  th {white-space: nowrap;}
}

#chatTable {
  height: fit-content;
  tr > :nth-child(2) {width: 1rem}
  thead th:last-child {padding-inline: 8ch}
}

tr.insert > * {
  border-block-start: 3px solid var(--accent);
  .secretTable &:first-child {border-block-start: none}
}

.valueTable {
  width: max-content;
  
  th, td {
    text-align: center;
    width: 8ch;
  }
  td:not(:first-child) {
    width: 6ch;
  }
}

.secretTable {
  --indent: 1rem;
  margin-inline-start: calc(-1 * var(--indent));
  
  caption {
    margin-inline-start: var(--indent);
  }

  thead tr > :nth-child(2) {
    border-start-start-radius: 0.25rem;
  }

  tr > :is(td,th):first-child {
    background-color: transparent;
    padding: 0;
    width: var(--indent);
    visibility:collapse;
    :hover > & {visibility: visible;}
  }
  
  tr:has(> :first-child > input:checked) {
    text-decoration: line-through;
    color: rgba(0,0,0,0.33);
  }
}


/* footer */
footer {
  color: gray;
  background-color: #eee;
  font-size: 0.75rem;
  font-weight: 400;
  padding: 1rem 1.5rem;
  margin:0;

  p {
    margin: 0;
    font-weight: unset;
  }
  
  ul {
    padding-inline-start: 2.5ch;
    margin-block: 0.5rem 0;

    li:not(:first-child) {
      margin-block-start: 0.25rem;
    }

    @media (max-width:600px) {
      max-width: calc(100vw - 3rem);
      box-sizing: border-box;
    }
  }

  h2 {
    font-weight: 600;
    font-size: larger;
    margin-block: 0.25rem;
  }

  table {
    border-collapse: collapse;
    font-size: small;
    letter-spacing: 0.5px;
    margin-block-start: 0.5rem;
    width: 55ch;
    @media (max-width:600px) {width: 100%}

    tr {
      vertical-align: baseline;
      border-block: 1px solid #aaa;
    }

    th,td {
      padding: 0.25rem;
      font-weight: unset;
      text-align: left;
      tbody & {padding-block-start: 0.5rem;}
      &:first-child {width: 20%}
      &:nth-child(2){width: 20%}
    }
  }
}

div.footer {
  width: max-content;
  padding-block-end: 0.75rem;
  border-block-end: 1px solid #aaa;
  display: flex;
  justify-self: center;
  gap:3rem;

  @media(max-width: 600px) {
    border-block-end: none;
    flex-direction: column;
    gap: 0.75rem;
  }
}